body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #bf3a3a;
  padding: 15px;
  text-align: center;
}

nav {
  margin: 20px 0;
}

.rubrique {
  padding: 20px;
  border-bottom: 1px solid #b43030;
}

.logo {
  text-align: center;
  width: 150px;
}

footer{
  background-color: #bf3a3a;
  padding: 15px;
  text-align: center;
}